/* CSS Variables */
:root {
  --bg: #fff;
  --text: #7288a2;
  --gray: #4d5974;
  --lightgray: #e5e5e5;
  --blue: #03b5d2;
}

/* Container styles */
.container {
  margin: 0 auto;
  padding: 4rem;
  width: 48rem;
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0 auto;
    padding: 1rem;
    width: 350px;
  }
}


.btn {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: var(--text);
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.accordion-title{
  background-color: transparent;
}


.button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}

.button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
}

.btn[aria-expanded='true'] {
  .button .icon::after {
    width: 0;
  }
}

.accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
}

.accordion-content.open {
  opacity: 1;
  max-height: 25em;
  transition: all 200ms linear;
}
