.priceButton {
  padding: 15px 35px;
  background-color: #ff2d60;
  color: #ffffff;
  font-weight: bold;
  border-radius: 40px;
  box-shadow: 0 0 5px #ff2d60, 0 0 25px #ff2d60, 0 0 50px #ff2d60,
    0 0 200px #ff2d60;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  transition: 0.5s ease-in-out;
}

.priceButton:hover{
  transform: scale(1.2);
}
