.container-1 {
  border: 2px solid #fff;
  border-radius: 50%;
}

.container-1 .icon {
  position: relative;
  right: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.container-1 .icon .imgBx {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transition: 0.5s;
  border: 1px solid #fff;
  transform: rotate(calc(360deg / 8 * var(--i)));
  box-shadow: 0 0 0 4px #222, 0 0 0 6px #fff;
  transform-origin: 340px;
  z-index: 30;
  overflow: hidden;
}

.container-1 .icon .imgBx.active {
  box-shadow: 0 0 0 4px #222, 0 0 0 12px #ff1d50;
}

.container-1 .icon .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotate(calc(-360deg / 8 * var(--i)));
  transition: 0.5s;
  filter: grayscale(1);
}

.container-1 .icon .imgBx.active img {
  filter: grayscale(0);
}

.content {
  position: absolute;
  inset: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content::before {
  content: " ";
  position: absolute;
  inset: 60px;
  border: 4px solid transparent;
  border-left: 4px solid #ff2d60;
  border-right: 4px solid #fcff2f;
  border-radius: 50%;
  animation: animate_01 5s linear infinite;
  z-index: 1;
  pointer-events: none;
}

@keyframes animate_01 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

.content::after {
  content: " ";
  position: absolute;
  inset: 120px;
  border: 4px solid transparent;
  border-left: 4px solid #ff2d60;
  border-right: 4px solid #fcff2f;
  border-radius: 50%;
  animation: animate_02 2.5s linear infinite;
  z-index: 1;
  pointer-events: none;
}

@keyframes animate_02 {
  0% {
    rotate: 360deg;
  }
  100% {
    rotate: 0deg;
  }
}

.contentBx {
  position: absolute;
  transform: scale(0);
  transition: 0.5s;
  opacity: 0;
}

.contentBx.active {
  transform: scale(1);
  opacity: 1;
  transition-delay: 0.5s;
}

.content .card-1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  z-index: 10;
}

.img {
  box-shadow: 0 0 5px #ff2d60, 0 0 25px #ff2d60, 0 0 30px #ff2d60,
    0 0 100px #ff2d60;
    margin-right: 0px !important;
}

.card-1::before {
  content: "";
  position: absolute;
  height: 3rem;
  width: 3rem;
  background: linear-gradient(
    135deg,
    transparent,
    rgb(3 7 18),
    rgb(3 7 18),
    rgb(3 7 18)
  );
  top: 50%;
  z-index: -1;
  transform: rotate(45deg);
}

.rounded_gradient_bg_left {
  background-image: linear-gradient(
    to right top,
    #6c22bd,
    #8b25bb,
    #a52bb9,
  );
  filter: blur(200px);
  opacity: 0.7;
  transform: skewY(-15deg) translate(-50%, -50%) scale(0.8) translateZ(0);
  pointer-events: none;
  z-index: 0;
}

